.footer {
  width: 100vw;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  .acmlogo, .vitlogo {
    width: 150px;
    height: auto;
  }

.mainIcon > img {
  margin: 1.5vw;
}
  .logos {
    transform: scale(1);
  }

@media screen and (min-width: 500px) and (max-width: 600px) {
  .mainIcon > img {
    height: 16px;
    width: 16px;
    margin: 0 0.2rem;
  }
}

@media screen and (max-width: 500px) {
  .mainIcon > img {
    height: 16px;
    width: 16px;
    margin: 0 0.1rem;
  }

  .footer {
    padding: 1rem;
  }

  .footer > a {
    transform: scale(0.8);
  }
}
