@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.orgSection {
  margin-top: 5rem;
}

.orgContainer {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #121212;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none; /*firefox*/
  margin-bottom: 0px;
  margin-top: 0px;
  --speed-marquee: -40%;
}

.orgContainer::-webkit-scrollbar {
  display: none;
}

.orgTitle {
  @apply text-2xl md:text-4xl;
  color: #48ba86;
  font-weight: 900;
  margin-bottom: 4rem;
  text-align: center;
}

.slider {
  scrollbar-width: none; /*firefox*/
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  animation: ticker 90s linear infinite reverse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-left: 210%;
}

.slider:hover {
  animation-play-state: paused;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* start of board member  */
.board_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin: 0 2em;
  min-width: 200px;
}

.board_member > img {
  width: 144px;
  height: 144px;
  border-radius: 100px;
  margin-bottom: 0.5em;
}

.board_member > h3 {
  color: #bababa;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
}

.board_member > p {
  font-family: "Roboto", sans-serif;
  color: #86ccac;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.2px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}
/* end of board member  */

/*animation ticker start*/

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(var(--speed-marquee), 0, 0);
    transform: translate3d(var(--speed-marquee), 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(var(--speed-marquee), 0, 0);
    transform: translate3d(var(--speed-marquee), 0, 0);
  }
}

/* animation ticker end */
