@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.facContainer {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #131313;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none; /*firefox*/
  margin-bottom: 0px;
}

.facArticle {
  margin-top: 8rem;
  margin-bottom: 0px;
}

.facContainer::-webkit-scrollbar {
  display: none;
}

.facTitle {
   @apply text-2xl md:text-4xl;
  color: #48ba86;
  font-weight: 900;
  margin-bottom: 4rem;
  text-align: center;
}

.facSlider {
  width: 100vw;
  scrollbar-width: none; /*firefox*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;
  overflow-y: scroll;
  justify-content: center;
  /* animation: loop 10s linear infinite; */
}

.facSlider:hover {
  animation-play-state: paused;
}

.facSlider::-webkit-scrollbar {
  display: none;
}

/* start of board member  */
.faculty {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin: 0 2em;
  min-width: 100px;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.faculty > img {
  width: 144px;
  height: 144px;
  border-radius: 100px;
}

.faculty > h3 {
  color: #bababa;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  white-space: wrap;
  text-align: center;
  margin-top: 0.5em;
}

.faculty > p {
  font-family: "Roboto", sans-serif;
  color: #86ccac;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: 0.2px;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
}
/* end of board member  */

@media screen and (max-width: 780px) {
  .facTitle {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  .facSlider {
    grid-template-columns: repeat(2, 1fr);
  }

  .faculty {
    margin-bottom: 3em;
  }

  .faculty > img {
    width: 100px;
    height: 100px;
    margin-bottom: 1.3em;
  }

  .faculty > h3 {
    font-size: 0.8rem;
  }

  .faculty > p {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
