.landsection {
  @apply cursor-default w-full md:pt-16;
  background-image: url("../../assets/map2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  background: #121212;
  padding-top: 3em;
  z-index: 100;
}

.menu_nav {
  width: 100vw;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
}

.menu_items {
  opacity: 0;
  width: 100vw;
  /* / border: 1px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin: 0.5em 0;
  font-weight: 900;
  font-size: 2.4rem;
}

.header {
  @apply px-6 md:px-44 py-4 flex justify-between bg-websiteBackground xl:bg-opacity-50 md:justify-between items-center fixed w-full top-0 left-0;
  z-index: 100;
}
.navigate {
  @apply text-graydark hidden md:flex flex-row;
}
.navreg {
  @apply text-graydark hidden md:flex flex-row;
}
.navigatetitle {
  @apply text-lg mx-4 font-bold;
}
.acmlogo {
  @apply h-8 md:h-10;
}
/* .shadow {
  @apply px-6 md:px-44 py-4 flex justify-between items-center fixed w-full bg-websiteBackground xl:bg-opacity-50 shadow-xl  top-0 left-0;
  z-index: 100;
} */
.registerbutton {
  @apply h-10 md:h-10 px-4 opacity-50 hover:opacity-100;
  pointer-events: none;
}
.greentext {
  @apply text-c2cTextgreen font-black;
}
.titlecontainer {
  @apply flex flex-col items-start md:items-center md:text-center text-graydark justify-center h-screen mx-4 md:mx-auto md:w-6/12;
}
.title {
  @apply text-4xl md:text-5xl px-4 text-graylight font-semibold mb-4 leading-13 md:leading-14 tracking-tight w-11/12 max-w-2xl;
}
.subtitle {
  @apply flex justify-center text-xl mb-8 items-center px-4 md:p-0 mx-auto;
}
.motto {
  @apply flex items-center justify-center mb-36 px-4;
}
.header_buttons {
  @apply flex justify-center items-center px-3 md:p-0 mx-auto;
}
.header_buttons span {
  margin: 0 1rem;
  color: #fff;
  align-self: center;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 1.5rem;
  top: 1.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hamburger {
  display: none;
}

.hamburgerLine {
  width: 100%;
  height: 3px;
  background: #7f7f7f;
  margin-bottom: 0.3em;
  border-radius: 8px;
}

@media screen and (max-width: 1000px) {
  .navigate {
    display: none;
  }
  .shadow{
    opacity:1;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 0.3em;
  }
}
