@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@font-face {
  font-family: displayFont;
  src: url("../../assets/fonts/impact.ttf");
}

.marquee {
  position: relative;
  overflow: hidden;
  margin-top: -60px;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  background: #121212;
  --color-highlightStroke: #1f3c2f;
  --color-stroke: rgba(72, 186, 134, 0.25);
  --color-bg: #121212;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 20s linear infinite reverse;
  /* animation-play-state: paused; */
  /* animation-play-state: running; */
}

.marquee__inner > span {
  font-size: 12rem;
  padding: 0 2vw;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "DM Sans", sans-serif;
  font-stretch: expanded;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-stroke);
  -webkit-text-fill-color: var(--color-bg);

  color: var(--color-stroke);

  /* text-shadow: 3px 3px 0 #000, */
  /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */ /*-1px -1px
      0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

@media screen and (max-width: 425px) {
  .marquee__inner > span {
    font-size: 7rem;
  }
}

/* .letter:hover {
  /* animation: colorchange 5s cubic-bezier(0.8, 0, 1, 1); */

/*}*/

@keyframes colorchange {
  0% {
    -webkit-text-stroke: 2px var(--color-stroke);
  }
  100% {
    -webkit-text-stroke: 3px var(--color-stroke);
  }
}

@keyframes glow {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
@keyframes marquee {
  0% {
    transform: translatex(200%);
  }

  100% {
    transform: translatex(0%);
  }
}
