.sponsorsection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10em;
  flex-direction: column;
  --color-sponserHighlightBg: #1f1f1f;
}

.sponsorhead {
  color: #48ba86;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2em;
}

.sponsorsinner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem;
}

.geeksforgeeks {
  transform: scale(0.6);
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  flex-direction: column;
}

/* seletcts the last two eleemnts */
.sponsor:nth-last-child(1) {
  grid-column-start: 3;
}
/* seletcts the last two eleemnts */
.sponsor:nth-last-child(2) {
  grid-column-start: 2;
}

.sponsor > img {
  filter: invert(0.3) sepia(1) saturate(1) hue-rotate(175deg);
  margin-bottom: 1em;
  transform: translateY(5px);
}

.sponsor > p {
  color: white;
  display: none;
}

.sponsor:hover > span {
  padding: 2em;
  background: var(--color-sponserHighlightBg);
}

.sponsor:hover > img {
  filter: none;
  transform: translateY(-5px);
}

.sponsor:hover > p {
  display: block;
}
.sponsorsinner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem;
}

@media screen and (max-width: 768px) {
  .sponsorsinner {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 3rem;
  }

  .sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }

  .sponsor:nth-last-child(1) {
    grid-column-start: 2;
  }
  /* seletcts the last two eleemnts */
  .sponsor:nth-last-child(2) {
    grid-column-start: 1;
  }
  .sponsorhead {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 545px) {
  .sponsorsinner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3.3rem;
  }

  .sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }

  .sponsor:nth-last-child(1) {
    grid-column-start: 2;
  }
  /* seletcts the last two eleemnts */
  .sponsor:nth-last-child(2) {
    grid-column-start: 1;
  }
  .sponsorhead {
    font-size: 2rem;
  }
}
