.sponsorsection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10em;
  flex-direction: column;
  --color-sponserHighlightBg: #252528;
}

.sponsorhead {
  color: #48ba86;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2em;
}

.sponsorsinner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem;
}

.geeksforgeeks {
  transform: scale(0.6);
}

.geeksforgeeks_p {
  font-size: 0.9rem !important;
}

.rosenfeld_p {
  font-size: 0.9rem !important;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  flex-direction: column;
  padding: 2rem 2em;
  transition: transform 1s ease-out;
}

/* seletcts the last two eleemnts */
.sponsor:nth-last-child(1) {
  grid-column-start: 3;
}
/* seletcts the last two eleemnts */
.sponsor:nth-last-child(2) {
  grid-column-start: 2;
}

.sponsor > img {
  /* filter: invert(0.3) sepia(1) saturate(1) hue-rotate(175deg); */
  margin-bottom: 1em;
  transform: translateY(5px);
  /* takes care of the logo moving up */
  transition: all 1s ease-out;
}

.sponsor > p {
  color: white;
  display: none;
  font-size: 1rem;
  text-align: center;
}

.sponsor:hover {
  background: var(--color-sponserHighlightBg);
  border-radius: 8px;
  z-index: 10;
  transform: scale(1.1);
}

.sponsor:hover > img {
  filter: none;
  transform: translateY(-5px);
}

.sponsor:hover > p {
  display: block;
}
.sponsorsinner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0rem;
}

@media screen and (max-width: 769px) {
  .sponsorsinner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;
  }

  .sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .sponsor:nth-last-child(1) {
    grid-column-start: 2;
  }
  /* seletcts the last two eleemnts */
  .sponsor:nth-last-child(2) {
    grid-column-start: 1;
  }
  .sponsorhead {
    font-size: 2.5rem;
  }
  .sponsor > p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 545px) {
  .sponsorsinner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  }

  .sponsor {
    width: 150px;
    padding: 1.3rem 0em;
  }

  .sponsor > img {
    transform: scale(0.8) translateY(5px);
  }
  .sponsor:hover > img {
    transform: scale(0.8) translateY(-5px);
    transition: transform 1s ease-out;
  }

  .geeksforgeeks {
    transform: scale(1.1);
  }

  .geeksforgeeks_p {
    font-size: 0.8rem !important;
  }

  .sponsor:nth-last-child(1) {
    grid-column-start: 2;
  }
  /* seletcts the last two eleemnts */
  .sponsor:nth-last-child(2) {
    grid-column-start: 1;
  }
  .sponsorhead {
    font-size: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .sponsorsinner {
    grid-template-columns: 1fr;
    grid-gap: 0 2em;
  }
  .sponsor {
    width: 120px;
    padding: 1em 0em;
  }
  .sponsor:nth-last-child(1) {
    grid-column-start: 0;
  }
  /* seletcts the last two eleemnts */
  .sponsor:nth-last-child(2) {
    grid-column-start: 0;
  }
}
