.carousel-image{
    @apply w-72 lg:w-96;
    height: auto;
}

.carousel-text1{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.carousel-text2{
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 3rem;
    display: table;
}
.cursor-prev {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cursor-prev.cur), auto;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cursor-prev.svg) 16 16, auto;
}

.cursor-next {
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cursor-next.cur), auto;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cursor-next.svg) 16 16, auto;
}