.aboutHead {
  color: #48ba86;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.aboutContent {
  color: grey;
  text-align: center;
  padding: 0 4em;
  line-height: 160%;
}

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  flex-direction: column;
}

.aboutSection > div:nth-child(1) {
  margin-bottom: 2em;
}
