@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

.page {
  width: 100%;
  background: #121212;
  height: 230vh;
  --color-highlightStroke: #1f3c2f;
  --color-stroke: rgba(72, 186, 134, 0.25);
  --color-bg: #121212;
}

.contentContainer {
  position: relative;
  top: 18vh;
  margin: 0 min(10vw, 550px);
}

.header {
  @apply px-6 md:px-44 py-4 flex justify-between md:justify-between items-center fixed w-full top-0 left-0 z-50;
}

.shadow {
  @apply px-6 md:px-44 py-4 flex justify-between items-center fixed w-full bg-websiteBackground bg-opacity-50 shadow-xl  top-0 left-0 z-50;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  background: #121212;
}

.aboutHead {
  color: #48ba86;
  white-space: nowrap;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "DM Sans", sans-serif;
  font-stretch: expanded;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-stroke);
  -webkit-text-fill-color: var(--color-bg);

  color: var(--color-stroke);
}

p.aboutContent {
  padding: 0em !important;
  margin-bottom: 4em;
  font-weight: 600;
  line-height: 43px;
  font-size: 1.68rem;
}

.aboutContent {
  color: #ffd;
  text-align: left;
  line-height: 160%;
  font-size: 1.2rem;
}

.aboutSection > div:nth-child(1) {
  margin-bottom: 2em;
}
