.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000;
  background: #121212;
}

.aboutHead {
  color: #48ba86;
  white-space: nowrap;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.aboutContent {
  color: grey;
  text-align: center;
  padding: 0.5em 4em;
  line-height: 160%;
  font-size: 1.2rem;
}

.aboutSection > div:nth-child(1) {
  margin-bottom: 2em;
}
