.landing {
  @apply cursor-default bg-websiteBackground;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.625rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(18,75,49,0.5);
  outline: 1px solid #222222;
  border-radius: 10px;
}

/* ​​@media (max-width: 1140px) {
  body {
    overflow: -moz-scrollbars-none;
    /* -ms-overflow-style: none; */
/* } */

/* body::-webkit-scrollbar {
    width: 0 !important;
  } */
/* } */
